.landing-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20em;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  top: 30vh;
}
.landp {
  position: absolute;
  z-index: -1;
  bottom: 23vh;
  opacity: 0.7;
  font-size: 20px;
}
